<h3>_ChildComponent</h3>
<div>

    <div class="alert alert-info">
        @Title
    </div>

    <div class="alert alert-success">
        @ChildContent
    </div>

    <input type="button" class="btn btn-primary" value="Show Message" @onclick="OnButtonClick" />
</div>
@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public EventCallback OnButtonClick { get; set; }

}
