@page "/learnblazor/ParentComponent"

<h3>ParentComponent</h3>

<CascadingValue Value="@MessageForGrandChild" Name="MessagetoDisplay">
    <CascadingValue Value="@Luckynumber" Name="LuckynumbertoDisplay">
        <_ChildComponent OnButtonClick="ShowMessage"
                         Title="This title is from Parent Component">
            This is Details
        </_ChildComponent>
    </CascadingValue>
</CascadingValue>


<br />
<div class="alert alert-secondary">
    @messagetext
</div>

@code {
    private string MessageForGrandChild = "This message is from Parent Component to GrandChild";
    private int Luckynumber = 7;

    public string? messagetext = "";

    private void ShowMessage()
    {
        messagetext = "This message is from Parent Component (Event CallBack) with No explicit method";
    }

}
