@page "/learnblazor/ParentComponent"

<h3>ParentComponent</h3>

<_ChildComponent OnButtonClick="ShowMessage"
                 Title="This title is from Parent Component"
                 MessageForGrandChild="This message is from Parent Component to GrandChild">
This is Details
</_ChildComponent>



<br />
<div class="alert alert-secondary">
    @messagetext
</div>

@code {
    public string? messagetext = "";

    private void ShowMessage()
    {
        messagetext = "This message is from Parent Component (Event CallBack) with No explicit method";
    }

}
